.header {
  text-align: 'center';
  color: '#fff';
  height: 64;
  /* padding-inline: 50; */
  line-height: '64px';
  background-color: '#7dbcea';
}
.indexLogo {
  width: 40px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
  fill: hotpink;
}
@media only screen and (max-width: 576px) {
  .indexLogo {
    display: none;
  }
  .ant-layout .ant-layout-header {
    padding-inline: 0px;
  }
}

.rightSide.ant-menu-item {
  margin-left: auto;
}
/* .pointsMenuItem {
  font-weight: bold;
} */
.ant-menu-title-content a {
  width: 100%;
  display: block;
}
